{%- liquid
	if sticky
		assign appended = '--sticky'
	endif

	assign handle = option.name | replace: ' ', '-' | downcase | escape
    assign customize_product = product.metafields.c_f.is_customize_product
-%}
{%- case option_type -%}
{%- when 'dropdown' -%}
	<fieldset class="product-form__input product-form__input--dropdown" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}">
		  {{ option.name }}{{ sizing_link }}
		</div>
		<div class="select">
		  <select
				id="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}"
				name="options[{{ option.name | escape | append: appended }}]"
				form="{{ product_form_id }}"
			>
		    {%- for value in option.values -%}
		      <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
		        {{ value }}
		      </option>
		    {%- endfor -%}
		  </select>
			<div class="select-arrow">{%- render 'svg-icons' with 'thb-select' -%}</div>
		</div>
	</fieldset>
{%- when 'button' -%}
	<fieldset class="product-form__input product-form__input--block {% if customize_product %} product-form__input--block-{{ forloop.index }}{% endif %}" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		
        <div class="form__label" {% if customize_product %} style="display: none;"{% endif %}>{{ option.name }}: <span class="form__label__value">{{ option.selected_value }}</span>{{ sizing_link }}</div>
        
         {%- liquid 
            assign product_json = product.metafields.c_f.customized_product.value 
            assign option_handle = option.name | handle
            assign set_index = forloop.index
         -%}
         <div class="form__label form__label-custom">
            <h5 class="form__label-custom-title">{{ product_json[option_handle].title }}</h5>
            <div class="form__label-custom-sub_title"><h6>{{ product_json[option_handle].sub_title }}</h6></div>
            <div class="form__label-custom-content">{{ product_json[option_handle].description }}</div>
         </div>
        <div class="options-wrap">
		{%- for value in option.values -%}
          {%- if value contains 'will pass' -%}
            {% continue %}
          {%- endif -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
                        {% if customize_product %} class="product-form__input--radio"{% endif %}
                        data-i="{{ set_index }}"
						{% if option.selected_value == value %}checked{% endif %}
			>
            <!-- {% if value contains 'Insect Net' %} d-none{% endif %} -->
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}" class="{% if value contains 'will pass' %} pass-option-label{% endif %}">
                {%- if customize_product -%}
                <img src="{{ value | handle | append: '.png' | file_img_url: 'master' }}" loading="lazy" width="420" height="auto" class="option-image ">
                {%- endif -%}
				<span>{{ value }}</span>
			</label>
		{%- endfor -%}
        </div>
        {%- if customize_product -%}
          {%- for value in option.values -%}
            {%- if value contains 'will pass' -%}
              <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
    						name="{{ option.name | append: appended }}"
    						value="{{ value | escape }}"
                            {% if customize_product %} class="product-form__input--radio"{% endif %}
                            data-i="{{ set_index }}"
    						form="{{ product_form_id }}"
    						{% if option.selected_value == value %}checked{% endif %}
    			>
    			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}" class="{% if value contains 'will pass' %} pass-option-label product-form__pass-option-label{% endif %}" data-i="{{ set_index }}">
                    {%- if customize_product -%}
                    <img src="{{ value | handle | append: '.png' | file_img_url: 'master' }}" loading="lazy" width="420" height="auto" class="option-image ">
                    {%- endif -%}
    				<span>{{ value }}</span>
    			</label>              
            {%- endif -%}
  		{%- endfor -%}
        {%- endif -%}

	</fieldset>
 
{%- when 'color' -%}
	{%- liquid
	assign custom_colors = settings.color_swatches | newline_to_br | split: '<br />'
	assign key_array = ''
	assign val_array = ''

	for color in custom_colors
		assign key = color | split: ':' | first | rstrip
		assign value = color | split: ':' | last | lstrip
		assign key_array = key_array | append: ',' | append: key
		assign val_array = val_array | append: ',' | append: value
	endfor

	assign key_array = key_array | remove_first: ',' | strip_newlines | downcase | split: ','
	assign val_array = val_array | remove_first: ',' | split: ','
	-%}
	<fieldset class="product-form__input product-form__input--color" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label">{{ option.name }}: <span class="form__label__value swisBold">{{ option.selected_value }}</span>{{ sizing_link }}</div>
		{%- for value in option.values -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
						{% if option.selected_value == value %}checked{% endif %}
			>
			{%- liquid
				assign color_value = value | downcase | escape

				for custom_color in key_array
					if custom_color == color_value
						assign color_value = val_array[forloop.index0]
					endif
				endfor

				assign bg_value = empty
				if color_value contains '.'
					assign bg_value = color_value | file_url
					assign color_value = 'var(--bg-body)'
				endif
				
				if color_picker_use_variants
					assign variant_image = blank

					for variant in product.variants
						if variant.title contains value
							if variant.image
								assign bg_value = variant.image | image_url: width: variant_image_size
								break
							endif
						endif
					endfor
				endif
			-%}
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}" style="--option-color: {{ color_value | downcase | escape }}; {%- if bg_value -%} --option-color-image: url('{{ bg_value | escape }}');{%- endif -%}">
				{{ value }}
			</label>
		{%- endfor -%}
	</fieldset>
{%- endcase -%}
