{%- liquid
  assign section_heading = section.settings.heading
  assign section_description = section.settings.description
  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing
  assign text_alignment = section.settings.text_alignment
-%}

<div class="faq-category-{{ section.id }} faq-category section-spacing-padding{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
  <div class="row">
    <div class="small-12 columns">
      <div class="text-{{ text_alignment }}">
        {%- render 'section-header', section_heading: section_heading, section_description: section_description -%}
        <div class="categories blocks">
          <ul class="blocks-list">
            {%- for block in section.blocks -%}
              <li class="blocks-item">
                <a href="{{ block.settings.link }}" class="blocks-item-link">
                  <h4 class="blocks-item-title {{ section.settings.block_heading_font }}">{{ block.settings.heading }}</h4>
                  <p class="blocks-item-description {{ section.settings.block_description_font }}">{{ block.settings.text }}</p>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .faq-category .blocks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    .faq-category .blocks-list {
      margin: 0 -15px;
    }
  }
  
  .faq-category .blocks-item {
    /* border: 1px solid rgba(39, 39, 39, 1); */
    border: 1px solid #eeeeee;
    background-color: #f9f9f9;
    /* border-radius: 4px; */
    box-sizing: border-box;
    color: var(--color-accent);
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
    transition: all .3s ease-in-out;
    position: relative;
  }
  
  @media (min-width: 768px) {
    .faq-category .blocks-item {
      margin: 0 15px 30px;
      flex: 1 0 316px;
    }
    
    .faq-category .blocks-item::before,
    .faq-category .blocks-item::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    
    .faq-category .blocks-item::before {
      top: 0;
      left: 0;
      border-top: 1px solid var(--color-accent);
      border-left: 1px solid var(--color-accent);
    }
    
    .faq-category .blocks-item::after {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid var(--color-accent);
      border-right: 1px solid var(--color-accent);
    }
    
    .faq-category .blocks-item:hover::before,
    .faq-category .blocks-item:focus::before,
    .faq-category .blocks-item:active::before {
      opacity: 1;
      top: -8px;
      left: -8px;
    }
    
    .faq-category .blocks-item:hover::after,
    .faq-category .blocks-item:focus::after,
    .faq-category .blocks-item:active::after {
      opacity: 1;
      bottom: -8px;
      right: -8px;
    }
  }
  
  .faq-category .blocks-item:hover, .faq-category .blocks-item:focus, .faq-category .blocks-item:active {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
  
  .faq-category .blocks-item:hover *, .faq-category .blocks-item:focus *, .faq-category .blocks-item:active * {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .faq-category .blocks-item-internal {
    background-color: transparent;
    border: 1px solid #e5e6e6;
  }
  
  .faq-category .blocks-item-internal .icon-lock::before {
    content: "\1F512";
    font-size: 15px;
    bottom: 5px;
    position: relative;
  }
  
  .faq-category .blocks-item-internal a {
    color: rgba(39, 39, 39, 1);
  }
  
  .faq-category .blocks-item-link {
    /* color: rgba(39, 39, 39, 1);
    padding: 20px 30px; */
    color: #2c2c2c;
    padding: 20px;
  }
  
  .faq-category .blocks-item-link:hover, .faq-category .blocks-item-link:focus, .faq-category .blocks-item-link:active {
    text-decoration: none;
  }
  
  .faq-category .blocks-item-title {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  
  .faq-category .blocks-item-description {
    font-weight: 300;
    margin: 0;
    color: #81878c;
  }
  
  .faq-category .blocks-item-description:not(:empty) {
    margin-top: 10px;
  }  
</style>
{% schema %}
  {
    "name": "Faq Category",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Customer reviews"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Add a short description for this section</p>"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Content alignment"
      },      
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "checkbox",
        "id": "disable_top_spacing",
        "default": false,
        "label": "Remove top spacing"
      },
      {
        "type": "checkbox",
        "id": "disable_bottom_spacing",
        "default": false,
        "label": "Remove bottom spacing"
      },
      {
        "type": "header",
        "content": "Column content font"
      },
      {
	      "type": "select",
	      "id": "block_heading_font",
	      "options": [
	      	{
	          "value": "",
	          "label": "System Font"
	        },
	        {
	          "value": "swiss",
	          "label": "swiss"
	        },
	        {
	          "value": "swisBold",
	          "label": "swis Bold"
	        },
	        {
	          "value": "OPPOSansL",
	          "label": "OPPOSansL"
	        },
	        {
	          "value": "OPPOSansR",
	          "label": "OPPOSansR"
	        },
	        {
	          "value": "OPPOSansM",
	          "label": "OPPOSansM"
	        },
	        {
	          "value": "OPPOSansB",
	          "label": "OPPOSansB"
	        },
	        {
	          "value": "OPPOSansH",
	          "label": "OPPOSansH"
	        }
	      ],
	      "default": "",
	      "label": "Column Heading Font"
	    },	    
      {
	      "type": "select",
	      "id": "block_description_font",
	      "options": [
	      	{
	          "value": "",
	          "label": "System Font"
	        },
	        {
	          "value": "swiss",
	          "label": "swiss"
	        },
	        {
	          "value": "swisBold",
	          "label": "swis Bold"
	        },
	        {
	          "value": "OPPOSansL",
	          "label": "OPPOSansL"
	        },
	        {
	          "value": "OPPOSansR",
	          "label": "OPPOSansR"
	        },
	        {
	          "value": "OPPOSansM",
	          "label": "OPPOSansM"
	        },
	        {
	          "value": "OPPOSansB",
	          "label": "OPPOSansB"
	        },
	        {
	          "value": "OPPOSansH",
	          "label": "OPPOSansH"
	        }
	      ],
	      "default": "",
	      "label": "Column Description Font"
	    }      
    ],
  "blocks": [
    {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Review heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Add your customer review here to showcase them."
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Faq Category",
        "blocks": [
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          }
        ]
      }
    ]
  }
{% endschema %}