{{ '404.css' | asset_url | stylesheet_tag }}

<style>
    #shopify-section-{{ section.id }} .section-404 {
        padding-top: {{ section.settings.padding_top_desktop }}px;
        padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
      }
      @media (max-width: 1067px) {
        #shopify-section-{{ section.id }} .section-404 {
          padding-top: {{ section.settings.padding_top_mobile }}px;
          padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
</style>

<div class="row section-404">
  <div class="small-12 columns">
    <div class="not-found">
      {% if section.settings.image != blank %}
        <div class="image-404">
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag:
              loading: 'lazy',
              widths: '375, 550, 750, 900, 1200, 1500',
              sizes: '(min-width: 1024px) 50vw, 100vw',
              alt: section.settings.image.alt
            | escape
          }}
        </div>
      {% endif %}
      <h1 class="section-404-title">{{ section.settings.title }}</h1>
      <p class="section-404-desc">{{ section.settings.text }}</p>

      <a href="{{ routes.root_url }}" class="button accent">
        <span>{{ section.settings.button_text }}</span>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "404 page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Page not found"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "Sorry, this page does not exist."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Continue shopping"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top (mobile)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom (mobile)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top (desktop)",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom (desktop)",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "404 page"
    }
  ]
}
{% endschema %}
