{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{%- liquid
	assign full_width = section.settings.full_width
	assign image = section.settings.image
	assign image_mobile = section.settings.image_mobile
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	unless image_mobile
		assign image_mobile = image
	endunless
-%}
<shop-the-look class="shop-the-look section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %} {% if section.settings.content_for_tab != blank %} product-tabs-content js-product-tabs-content-{{ section.settings.content_for_tab }}{% endif %}">
	<div class="row{% if full_width %} full-width-row-full{% endif %} row-{{ section.id }}">
		<div class="small-12 columns">
			<figure class="shop-the-look--area shop-the-look--mobile shop-the-look--full-width-{{ full_width }}">
				{%- if image_mobile -%}
					{% assign small_height = image_mobile.src.height | times: '750' | divided_by: image_mobile.src.width %}
					{% assign master_width = image_mobile.src.width | append: 'x' | append: image_mobile.src.height %}
					{% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
					{% render 'responsive-image', image: image_mobile, sizes: sizes %}
				{%- else -%}
					<div class="thb-placeholder">
						{{ 'collection-1' | placeholder_svg_tag }}
					</div>
				{%- endif -%}

                {% for block in section.blocks %}
                  {%- if block.settings.show_custom_image -%}
                    {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
                    <quick-view class="thb-hotspot pin-white thb-hotspot-{{ block.id }}" style="left: {{- block.settings.x_position_mobile | append: '%' -}}; top: {{- block.settings.y_position_mobile | append: '%' -}};" data-product-handle="{{ hotspot_product.handle }}" {{ block.shopify_attributes }}>
                      <div class="thb-hotspot-content thb-pulsate">
                            {%- unless hotspot_product == empty and block.settings.show_custom_image == empty -%}
                              <div class="loading-overlay">
                                  {% render 'svg-icons' with 'thb-loading' %}
                              </div>
                              <div class="thb-hotspot-arrow"></div>
                              {%- if block.settings.show_custom_image -%}
                                <div class="thb-hotspot-bubble thb-hotspot-bubble--image" style="background: {{ block.settings.color_bg }};color: {{ block.settings.color_text }};">
                                    {% if block.settings.image %}
                                        <a href="javascript:;" title="{{ block.settings.heading | escape }}" class="thb-hotspot-product-image">
                                            {%- render 'responsive-image', image: block.settings.image, sizes: '480x0' -%}
                                        </a>
                                    {% endif %}
                                    <div class="thb-hotspot-product-content">
                                        <div class="thb-hotspot-product-title swisBold">{{ block.settings.heading }}</div>
                                        <div class="thb-hotspot-product-description">{{ block.settings.description }}</div>
                                    </div>
                                </div>                            
                              {%- else -%}
                                <div class="thb-hotspot-bubble">
                                    {% if hotspot_product.featured_image %}
                                        <a href="{{ hotspot_product.url }}" title="{{ hotspot_product.title | escape }}" class="thb-hotspot-product-image">
                                            {%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
                                        </a>
                                    {% endif %}
                                    <div class="thb-hotspot-product-content">
                                        <div class="thb-hotspot-product-title">{{ hotspot_product.title }}</div>
                                        {% render 'product-price', product: hotspot_product %}
                                        {% assign text_button_title = 'sections.shop_the_look.view_product' | t %}
                                        {% render 'text-button', url: hotspot_product.url, title: text_button_title %}
                                    </div>
                                </div>                            
                              {%- endif -%}
                            {%- endunless -%}
                        </div>
                    </quick-view>
                    <style>
                      @media only screen and (max-width: 768px){
                        
                        .shop-the-look .thb-hotspot-{{ block.id }}.thb-hotspot:hover .thb-hotspot-bubble{
                            transform: translate(-{{- block.settings.x_position | append: '%' -}}) translateY(0);
                          
                        }
                        .shop-the-look .thb-hotspot-{{ block.id }} .thb-hotspot-content{
                              width: {{ block.settings.x_size_mobile }}px;
                              height: {{ block.settings.x_size_mobile }}px;
                              border: {{ block.settings.x_size_mobile | divided_by: 3 }}px solid #ffffff;
                        }
                        .shop-the-look .thb-hotspot-{{ block.id }} .thb-hotspot-content:hover{
                          border: {{ block.settings.x_size_mobile | divided_by: 3 }}px solid var(--color-accent);
                        }
                      }

                    </style>
                  {%- else -%}

                    {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
                    <quick-view class="thb-hotspot pin-white" style="left: {{- block.settings.x_position_mobile | append: '%' -}}; top: {{- block.settings.y_position_mobile | append: '%' -}};" data-product-handle="{{ hotspot_product.handle }}">
                      <div class="thb-hotspot-content thb-pulsate">
          							{%- unless hotspot_product == empty -%}
          								<div class="loading-overlay">
          									{% render 'svg-icons' with 'thb-loading' %}
          								</div>
          							{%- endunless -%}
          						</div>
                    </quick-view>
                  {%- endif -%}
                {% endfor %}
                
			</figure>
			<figure class="shop-the-look--area shop-the-look--desktop shop-the-look--full-width-{{ full_width }}">
				{%- if image -%}
					{% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
					{% render 'responsive-image', image: image, sizes: master_width %}
				{%- else -%}
					<div class="thb-placeholder">
						{{ 'lifestyle-1' | placeholder_svg_tag }}
					</div>
				{%- endif -%}
                {% for block in section.blocks %}
                  {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
                  <quick-view class="thb-hotspot pin-white" style="left: {{- block.settings.x_position | append: '%' -}}; top: {{- block.settings.y_position | append: '%' -}};" data-product-handle="{{ hotspot_product.handle }}" {{ block.shopify_attributes }}>
                    <div class="thb-hotspot-content thb-pulsate">
                          {%- unless hotspot_product == empty and block.settings.show_custom_image == empty -%}
                            <div class="loading-overlay">
                                {% render 'svg-icons' with 'thb-loading' %}
                            </div>
                            <div class="thb-hotspot-arrow"></div>
                            {%- if block.settings.show_custom_image -%}
                              <div class="thb-hotspot-bubble thb-hotspot-bubble--image" style="background: {{ block.settings.color_bg }};color: {{ block.settings.color_text }};">
                                  {% if block.settings.image %}
                                      <a href="javascript:;" title="{{ block.settings.heading | escape }}" class="thb-hotspot-product-image">
                                          {%- render 'responsive-image', image: block.settings.image, sizes: '480x0' -%}
                                      </a>
                                  {% endif %}
                                  <div class="thb-hotspot-product-content">
                                      <div class="thb-hotspot-product-title swisBold">{{ block.settings.heading }}</div>
                                      <div class="thb-hotspot-product-description">{{ block.settings.description }}</div>
                                  </div>
                              </div>                            
                            {%- else -%}
                              <div class="thb-hotspot-bubble">
                                  {% if hotspot_product.featured_image %}
                                      <a href="{{ hotspot_product.url }}" title="{{ hotspot_product.title | escape }}" class="thb-hotspot-product-image">
                                          {%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
                                      </a>
                                  {% endif %}
                                  <div class="thb-hotspot-product-content">
                                      <div class="thb-hotspot-product-title">{{ hotspot_product.title }}</div>
                                      {% render 'product-price', product: hotspot_product %}
                                      {% assign text_button_title = 'sections.shop_the_look.view_product' | t %}
                                      {% render 'text-button', url: hotspot_product.url, title: text_button_title %}
                                  </div>
                              </div>                            
                            {%- endif -%}
                          {%- endunless -%}
                      </div>
                  </quick-view>
                {% endfor %}
			</figure>
		</div>
	</div>
</shop-the-look>
<style>
  {%- if section.settings.content_max_width > 0 -%}
    @media only screen and (min-width: 768px) {
      .row-{{ section.id }}{
        max-width: {{section.settings.content_max_width}}px;
      }  
    }
  {%- endif -%}

</style>
<script src="{{ 'shop-the-look.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "Shop the look",
    "settings": [
      {
        "type": "select",
        "id": "content_for_tab",
        "options": [
        	{
            "value": "",
            "label": "None"
          },
          {
            "value": "detail",
            "label": "Detail"
          },
          {
            "value": "tech",
            "label": "Tech Specs"
          },
          {
            "value": "review",
            "label": "Reviews"
          },
          {
            "value": "faqs",
            "label": "FAQs"
          },
          {
            "value": "installation",
            "label": "Installation"
          } 
        ],
        "default": "",
        "label": "In which product tab is the content displayed?"
      },
      {
          "type": "number",
          "id": "content_max_width",
          "label": "Content max widht on desktop",
          "info": "px"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how to set up the [shop the look section](https://documentation.fuelthemes.net/kb/how-to-set-up-shop-the-look-section-in-vision/)"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1280 x 650 px .jpg recommended."
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image",
        "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
      },
      {
          "type": "checkbox",
          "id": "full_width",
          "label": "Make section full width",
          "default": false
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
          "type": "checkbox",
          "id": "disable_top_spacing",
          "default": false,
          "label": "Remove top spacing"
      },
      {
          "type": "checkbox",
          "id": "disable_bottom_spacing",
          "default": false,
          "label": "Remove bottom spacing"
      }
    ],
    "blocks": [
        {
          "type": "product",
          "name": "Product",
          "settings": [
            {
              "type": "product",
              "id": "product_handle",
              "label": "Product"
            },
            {
              "type": "checkbox",
              "id": "show_custom_image",
              "label": "Show custom image?",
              "default": false
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "image"
            },
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            },            
            {
              "type": "richtext",
              "id": "description",
              "label": "Description",
              "default": "<p>Add a short description for this section</p>"
            },        
            {
                "type": "header",
                "content": "Content Color"
            },
            {
              "type": "color",
              "id": "color_bg",
              "label": "Background",
              "default": "#ffffff"
            },
            {
              "type": "color",
              "id": "color_text",
              "label": "Content text color",
              "default": "#2c2d2e"
            },
            {
                "type": "header",
                "content": "Position"
            },
            {
                "type": "range",
                "id": "x_position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Horizontal",
                "default": 20,
                "info": "Horizontal position of the hot spot"
            },
            {
                "type": "range",
                "id": "y_position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Vertical",
                "default": 20,
                "info": "Vertical position of the hot spot"
            },
            {
                "type": "header",
                "content": "Mobile position"
            },
            {
                "type": "range",
                "id": "x_size_mobile",
                "min": 9,
                "max": 60,
                "step": 1,
                "unit": "px",
                "label": "Size on mobile",
                "default": 24
            },            
            {
                "type": "range",
                "id": "x_position_mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Horizontal",
                "default": 20,
                "info": "Horizontal position of the hot spot on mobile screens"
            },
            {
                "type": "range",
                "id": "y_position_mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Vertical",
                "default": 20,
                "info": "Vertical position of the hot spot on mobile screens"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the look",
				"blocks": [
					{
						"type": "product"
					}
				]
      }
    ]
  }
{% endschema %}
