{{ 'showcase-grid-dnc.css' | asset_url | stylesheet_tag }}

<section class="showcase-dnc-section">
    <div class="showcase-dnc-container">
        {% assign total_blocks_count = section.blocks.size %}
        {% assign is_even = total_blocks_count | modulo: 2 %}
        <div class="showcase-dnc-grid{%- if is_even == 0 -%}{{ ' ' }}even{%- endif -%}">
            {% for block in section.blocks %}
            <div class="showcase-dnc-item showcase-dnc-item--{{ forloop.index }}" {{ block.shopify_attributes }}>
                {%- if block.settings.image != blank -%}
                <img 
                    src="{{ block.settings.image | image_url: width: 1200 }}" 
                    alt="{{ block.settings.title | escape }}" 
                    class="showcase-dnc-image"
                    loading="lazy"
                >
                {%- endif -%}
                <div class="showcase-dnc-shading"></div>
                <div class="showcase-dnc-content">
                    {%- if block.settings.show_new_badge -%}
                        <span class="showcase-dnc-badge">
                          {{ block.settings.badge_text }}
                        </span>
                    {%- endif -%}

                    <h2 class="showcase-dnc-title">{{ block.settings.title }}</h2>
                    
                    {%- if block.settings.description != blank -%}
                        <p class="showcase-dnc-description">{{ block.settings.description }}</p>
                    {%- endif -%}

                    {%- if block.settings.link_url != blank and block.settings.link_text != blank -%}
                        <a href="{{ block.settings.link_url }}" class="showcase-dnc-button">
                        {{ block.settings.link_text }}
                        </a>
                    {%- endif -%}
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Showcase Grid DNC",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "showcase_item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Item Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Original Stand"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Lying down, sitting, or in any position, experience the ultimate ease."
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Shop Now"
        },
        {
          "type": "checkbox",
          "id": "show_new_badge",
          "label": "Show Badge",
          "default": false
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge Text",
          "default": "New"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Showcase Grid DNC",
      "blocks": [
        { "type": "showcase_item" },
        { "type": "showcase_item" },
        { "type": "showcase_item" }
      ]
    }
  ]
}
{% endschema %}